html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.light {
  background: white;
  color: black;
  min-height: 100vh;
}

.dark {
  background: #121212;
  color: white;
  min-height: 100vh;
}

nav {
  border-bottom: 1px solid gray;
}
